{extend name="main"}

{block name="content"}
<div class="padding-10 portal-block-container notselect">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm4 layui-col-md3">
            <div class="portal-block-item nowrap" style="background:linear-gradient(-125deg,#57bdbf,#2f9de2)">
                <span class="layui-font-18">项目总量</span><br>
                <span class="layui-font-30">{$projectTotal|default='0'}</span>
            </div>
            <i class="portal-block-icon layui-icon layui-icon-app"></i>
        </div>
        <div class="layui-col-sm4 layui-col-md3">
            <div class="portal-block-item nowrap" style="background:linear-gradient(-125deg,#ff7d7d,#fb2c95)">
                <span class="layui-font-18">用户总量</span><br>
                <span class="layui-font-30">{$usersTotal|default='0'}</span>
            </div>
            <i class="portal-block-icon layui-icon layui-icon-user"></i>
        </div>
        <div class="layui-col-sm4 layui-col-md3">
            <div class="portal-block-item nowrap" style="background:linear-gradient(-113deg,#c543d8,#925cc3)">
                <span class="layui-font-18">投票总量</span><br>
                <span class="layui-font-30">{$recordTotal|default='0'}</span>
            </div>
            <i class="portal-block-icon layui-icon layui-icon-form"></i>
        </div>
        <div class="layui-col-sm4 layui-col-md3">
            <div class="portal-block-item nowrap" style="background:linear-gradient(-141deg,#ecca1b,#f39526)">
                <span class="layui-font-18">参赛总量</span><br>
                <span class="layui-font-30">{$playerTotal|default='0'}</span>
            </div>
            <i class="portal-block-icon layui-icon layui-icon-rmb"></i>
        </div>
    </div>
</div>

<div class="padding-row-10">
    <div class="layui-row layui-col-space15 ">
        <div class="layui-col-xs12 layui-col-md6">
            <div class="think-box-shadow">
                <div id="main2" style="width:100%;height:350px"></div>
            </div>
        </div>
        <div class="layui-col-xs12 layui-col-md6">
            <div class="think-box-shadow">
                <div id="main4" style="width:100%;height:350px"></div>
            </div>
        </div>
    </div>
</div>
<div class="padding-10 portal-block-container notselect">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm4 layui-col-md3">
            <div class="portal-block-item" style="background:linear-gradient(-125deg,#57bdbf,#2f9de2)">
                <span class="layui-font-18">今日总投票次数</span><br>
                <span class="layui-font-30">{$todayRecord|default='0'}</span>
            </div>
            <i class="portal-block-icon layui-icon layui-icon-app"></i>
        </div>
        <div class="layui-col-sm4 layui-col-md3">
            <div class="portal-block-item nowrap" style="background:linear-gradient(-125deg,#ff7d7d,#fb2c95)">
                <span class="layui-font-18">今日总投票人数</span><br>
                <span class="layui-font-30">{$todayUser|default='0'}</span>
            </div>
            <i class="portal-block-icon layui-icon layui-icon-user"></i>
        </div>
        <div class="layui-col-sm4 layui-col-md3">
            <div class="portal-block-item nowrap" style="background:linear-gradient(-113deg,#c543d8,#925cc3)">
                <span class="layui-font-18">待审核参赛数</span><br>
                <span class="layui-font-30">{$todayPlayer|default='0'}</span>
            </div>
            <i class="portal-block-icon layui-icon layui-icon-form"></i>
        </div>
        <div class="layui-col-sm4 layui-col-md3">
            <div class="portal-block-item nowrap" style="background:linear-gradient(-141deg,#ecca1b,#f39526)">
                <span class="layui-font-18">待审核评论数</span><br>
                <span class="layui-font-30">{$todayComment|default='0'}</span>
            </div>
            <i class="portal-block-icon layui-icon layui-icon-rmb"></i>
        </div>
    </div>
</div>
<div class="padding-row-10">
    <div class="layui-row layui-col-space15 ">
        <div class="layui-col-xs12 padding-bottom-0">
            <div class="think-box-shadow">
                <div id="main5" style="width:100%;height:350px"></div>
            </div>
        </div>
    </div>
</div>
{/block}


{block name="script"}
<label class="layui-hide">
    <textarea id="jsondata1">{$hours|json_encode}</textarea>
    <textarea id="jsondata2">{$days|json_encode}</textarea>
    <textarea id="jsondata3">{$project|json_encode}</textarea>
</label>
<script>
    require(['echarts','echartsChina'], function (echarts) {
        var data1 = JSON.parse($('#jsondata1').html());
        var hours = data1.map(function (item) {
            return item['当天时间'];
        });
        var data2 = JSON.parse($('#jsondata2').html());
        var days = data2.map(function (item) {
            return item['当天日期'];
        });

        var data3 = JSON.parse($('#jsondata3').html());
        var chart3 = echarts.init(document.getElementById('main2'));
        window.addEventListener("resize", function () {
            chart3.resize()
        });
        chart3.setOption({
            title: {text: '项目投票统计分布', left: 'center'},
            legend: {orient: 'vertical', left: 'left'},
            tooltip: {trigger: 'item', formatter: '{a} <br/>{b} : {c} 次 ( {d}% )'},
            toolbox: {
                show: true,
                feature: {
                    mark: { show: true },
                    restore: { show: true },
                    saveAsImage: { show: true }
                }
            },
            series: [
                {
                    name: '项目标题',
                    type: 'pie',
                    radius: '60%',
                    roseType: 'area',
                    center: ['50%', '50%'],
                    data: data3.map(function (item) {
                        return {name: item.title, value: item.count}
                    }),
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        });

        (function (charts) {
            window.addEventListener("resize", function () {
                charts.resize()
            });
            charts.setOption({
                title: [{left: 'center', text: '今日投票时间统计'}],
                tooltip: {trigger: 'axis', show: true, axisPointer: {type: 'cross', label: {}}},
                toolbox: {
                    show: true,
                    feature: {
                        mark: { show: true },
                        restore: { show: true },
                        saveAsImage: { show: true }
                    }
                },
                xAxis: [{data: hours, gridIndex: 0}],
                yAxis: [
                    {
                        splitLine: {show: true}, gridIndex: 0, type: 'value', axisLabel: {
                            formatter: '{value}'
                        }
                    }
                ],
                grid: [{left: '10%', right: '3%', top: '25%'}],
                series: [
                    {
                        smooth: true, showBackground: true,
                        areaStyle: {color: 'rgba(180, 180, 180, 0.5)'},
                        type: 'line', showSymbol: true, xAxisIndex: 0, yAxisIndex: 0,
                        label: {normal: {position: 'top', formatter: '{c}', show: true}},
                        data: data1.map(function (item) {
                            return item['今日统计'];
                        }),
                    }
                ]
            });
        })(echarts.init(document.getElementById('main4')));
        (function (charts) {
            window.addEventListener("resize", function () {
                charts.resize()
            });
            charts.setOption({
                grid: [{left: '10%', right: '3%', top: '25%'}],
                title: [{left: 'center', text: '近三十天平台投票趋势'}],
                toolbox: {
                    show: true,
                    feature: {
                        mark: { show: true },
                        restore: { show: true },
                        saveAsImage: { show: true }
                    }
                },
                tooltip: {trigger: 'axis'},
                xAxis: [{data: days, gridIndex: 0}],
                yAxis: [{type: 'value', splitLine: {show: true}, gridIndex: 0, axisLabel: {formatter: '{value} '}}],
                series: [
                    {
                        type: 'line',
                        smooth: true, showBackground: true,
                        areaStyle: {color: 'rgba(180, 180, 180, 0.5)'},
                        label: {formatter: '{c} ', showSymbol: false, show: true},
                        data: data2.map(function (item) {
                            return item['投票统计'];
                        }),
                        markLine: {
                            data: [[
                                {x: '90%', symbol: 'none', yAxis: 'max'},
                                {symbol: 'circle', label: {position: 'start', formatter: '最大 {c} 次'}, type: 'max', name: '最高点'}
                            ]]
                        }
                    }
                ]
            });
        })(echarts.init(document.getElementById('main5')));

    });
</script>

{/block}
